{% extends "base.html" %} {% block content %}
<footer id="footer" class=" mini-footer">
    <div class="wrapper">
        <div class="row">
            <div class="col-m-10">
                <h3 class="footer-top logo--footer" tabindex="0">
                    <a class="logo--header" href="/" title="Find the best restaurants, cafés, and bars in Kochi">
                        <img src="{{ MEDIA_URL }}images/home/company_logo.jpg" alt="Find the best restaurants, cafés, and bars in Kochi" width="60px">
                    </a>
                </h3>
            </div>
        </div>
        <div class="footer_divider mt5"></div>
        <div class="row footer_policy_links">
            <div class="col-m-12">
                <ul class="footer_horiz_list">
                    <li>
                        <a>
                            Privacy
                        </a>
                    </li>
                    <li>
                        <a>
                            Terms
                        </a>
                    </li>
                    <li>
                        <a>
                            API Policy
                        </a>
                    </li>
                    <li>
                        <a>
                            CSR
                        </a>
                    </li>
                    <li>
                        <a>
                            Security
                        </a>
                    </li>
                    <li>
                        <a>
                            Sitemap
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer_divider"></div>
        <div class="footer-bottom row">
            <div class="footer-msg">
                By continuing past this page, you agree to our Terms of Service Cookie Policy Privacy Policy and Content Policies. All trademarks are properties of their respective owners. © 2008-2017 - DinersQ™ Media Pvt Ltd. All rights reserved.
            </div>
        </div>
    </div>
</footer>
{% endblock %}
