{% extends "base.html" %} {% load staticfiles %} {% block title %} Home {% endblock %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}" /> {% endblock %} {% block javascript %}
<script type="text/javascript" src="{% static 'add_restaurant/js/jquery.formset.js' %}"></script>
<script type="text/javascript" src="{% static 'add_restaurant/js/click.js' %}"></script>

{% endblock %}{% block header %} {% include "header.html" %} {% endblock %} {% block content %}
<div class="main_container">
    <div class="container">
	    <div class="row mb50">
	        <div class="col-sm-8 bgwhite mr20">
	            {% if form.errors %} {% for error in form.errors %} {% endfor %}
	            <div class="text-danger">Please correct the error{{ form.errors|pluralize }} below.</div>
	            {% endif %}
	            <p>
	                <div class="form-horizontal">
	                    <form method="post" action="{% url 'add_restaurant' %}" enctype="multipart/form-data" role="form ">{% csrf_token %}

			        <div class="form-group row {% if form.restaurant_name.errors %}has-error{% endif %} ">
			           <label for="id_restaurant_name " class="col-sm-3 control-label ">Restaurant Name:</label>
			           <div class="col-lg-5 ">
			            {{ form.restaurant_name }}
			            {% if form.restaurant_name.errors %}
			              <span class="help-block ">
			                {% for error in form.restaurant_name.errors %}{{ error }}{% endfor %}
			              </span>
			            {% endif %}
			          </div>
			        </div>

			        <div class="form-group row {% if form.restaurant_image.errors %}has-error{% endif %} ">
			          <label for="id_restaurant_image " class="col-sm-3 control-label ">Restaurant Image:</label>
			          <div class="col-lg-5 ">
			          {{ form.restaurant_image }}
			            {% if form.restaurant_image.errors %}
			              <span class="help-block ">
			                {% for error in form.restaurant_image.errors %}{{ error }}{% endfor %}
			              </span>
			            {% endif %}
			          </div>
			        </div>
			        
			        <div class="form-group row {% if form.restaurant_image_thumbnail.errors %}has-error{% endif %} ">
			          <label for="id_restaurant_image_thumbnail " class="col-sm-3 control-label ">Restaurant Image Thumbnail:</label>
			          <div class="col-lg-5 ">
			            {{ form.restaurant_image_thumbnail }}
			            {% if form.restaurant_image_thumbnail.errors %}
			              <span class="help-block ">
			                {% for error in form.restaurant_image_thumbnail.errors %}{{ error }}{% endfor %}
			              </span>
			            {% endif %}
			          </div>
			        </div>

			        <div class="form-group row {% if form.category.errors %}has-error{% endif %} ">
			          <label for="id_category " class="col-sm-3 control-label ">Menus Available:</label>
			          <div class="col-lg-5 ">
			            {{ form.category }}
			            {% if form.category.errors %}
			              <span class="help-block ">
			                {% for error in form.category.errors %}{{ error }}{% endfor %}
			              </span>
			            {% endif %}
			          </div>
			        </div>

			        <div class="form-group row ">
			           <label for="id_menu_formset " class="col-sm-3 control-label ">Menu Image:</label>
			           <div class="col-lg-5 ">

			            {{ menuformset.management_form }}

					    {% for menu_form in menuformset %}
					        <div class="menu-image-formset">
					            {{ menu_form.menu_image }}
					            {% if menu_form.menu_image.errors %}
					                {% for error in menu_form.menu_image.errors %}
					                    {{ error|escape }}
					                {% endfor %}
					            {% endif %}
					        </div>
					    {% endfor %}

					    {% if menuformset.non_form_errors %}
					        {% for error in menuformset.non_form_errors %}
					            {{ error|escape }}
					        {% endfor %}
					    {% endif %}
			          </div>
			        </div>

			        <div class="form-group row">
			           <label for="id_restaurant_timings_formset " class="col-sm-3 control-label nopadding">Restaurant Timings:</label>
			           <div class="col-sm-9 nopadding">

			            {{ restaurantTimingsformset.management_form }}

					    {% for restaurantTimings in restaurantTimingsformset %}
					    	<div class="restaurant-timings-formset">
						    	<div class="col-lg-4 ">
						            {{ restaurantTimings.working_days }}
						            {% if restaurantTimings.working_days.errors %}
						                {% for error in restaurantTimings.working_days.errors %}
						                    {{ error|escape }}
						                {% endfor %}
						            {% endif %}
						        </div>
						        <div class="col-lg-4">
						            {{ restaurantTimings.start_time }}
						            {% if restaurantTimings.start_time.errors %}
						                {% for error in restaurantTimings.start_time.errors %}
						                    {{ error|escape }}
						                {% endfor %}
						            {% endif %}
						        </div>
						       	<div class="col-lg-4">
						            {{ restaurantTimings.end_time }}
						            {% if restaurantTimings.end_time.errors %}
						                {% for error in restaurantTimings.end_time.errors %}
						                    {{ error|escape }}
						                {% endfor %}
						            {% endif %}
						        </div>
					        </div>

					    {% endfor %}

						   {% if restaurantTimingsformset.non_form_errors %}
						   {% for error in restaurantTimingsformset.non_form_errors %}
						       {{ error|escape }}
						   {% endfor %}
						{% endif %}
			          </div>
			        </div>

			        
			        <div class="form-group row {% if form.address_1.errors %}has-error{% endif %} ">
			          <label for="id_address_1 " class="col-sm-3 control-label ">Address 1:</label>
			          <div class="col-lg-5 ">
			            {{ form.address_1 }}
			            {% if form.address_1.errors %}
			              <span class="help-block ">
			                {% for error in form.address_1.errors %}{{ error }}{% endfor %}
			              </span>
			            {% endif %}
			          </div>
			        </div>

			                
			        <div class="form-group row {% if form.address_2.errors %}has-error{% endif %} ">
			          <label for="id_address_2 " class="col-sm-3 control-label ">Address 2:</label>
			          <div class="col-lg-5 ">
			            {{ form.address_2 }}
			            {% if form.address_2.errors %}
			              <span class="help-block ">
			                {% for error in form.address_2.errors %}{{ error }}{% endfor %}
			              </span>
			            {% endif %}
			          </div>
			        </div>

			                
			        <div class="form-group row {% if form.locality.errors %}has-error{% endif %} ">
			          <label for="id_locality " class="col-sm-3 control-label ">Locality:</label>
			          <div class="col-lg-5 ">
			            {{ form.locality }}
			            {% if form.locality.errors %}
			              <span class="help-block ">
			                {% for error in form.locality.errors %}{{ error }}{% endfor %}
			              </span>
			            {% endif %}
			          </div>
			        </div>

			                
			        <div class="form-group row {% if form.city.errors %}has-error{% endif %} ">
			          <label for="id_city " class="col-sm-3 control-label ">City:</label>
			          <div class="col-lg-5 ">
			            {{ form.city }}
			            {% if form.city.errors %}
			              <span class="help-block ">
			                {% for error in form.city.errors %}{{ error }}{% endfor %}
			              </span>
			            {% endif %}
			          </div>
			        </div>

			                
			        <div class="form-group row {% if form.state.errors %}has-error{% endif %} ">
			          <label for="id_state " class="col-sm-3 control-label ">State:</label>
			          <div class="col-lg-5 ">
			            {{ form.state }}
			            {% if form.state.errors %}
			              <span class="help-block ">
			                {% for error in form.state.errors %}{{ error }}{% endfor %}
			              </span>
			            {% endif %}
			          </div>
			        </div>

			                
			        <div class="form-group row {% if form.pincode.errors %}has-error{% endif %} ">
			          <label for="id_pincode " class="col-sm-3 control-label ">Pincode:</label>
			          <div class="col-lg-5 ">
			            {{ form.pincode }}
			            {% if form.pincode.errors %}
			              <span class="help-block ">
			                {% for error in form.pincode.errors %}{{ error }}{% endfor %}
			              </span>
			            {% endif %}
			          </div>
			        </div>

			                
			        <div class="form-group row {% if form.country.errors %}has-error{% endif %} ">
			          <label for="id_country " class="col-sm-3 control-label ">Country:</label>
			          <div class="col-lg-5 ">
			            {{ form.country }}
			            {% if form.country.errors %}
			              <span class="help-block ">
			                {% for error in form.country.errors %}{{ error }}{% endfor %}
			              </span>
			            {% endif %}
			          </div>
			        </div>

			                
			        <div class="form-group row {% if form.phone_number_1.errors %}has-error{% endif %} ">
			          <label for="id_phone_number_1 " class="col-sm-3 control-label ">Phone Number 1:</label>
			          <div class="col-lg-5 ">
			            {{ form.phone_number_1 }}
			            {% if form.phone_number_1.errors %}
			              <span class="help-block ">
			                {% for error in form.phone_number_1.errors %}{{ error }}{% endfor %}
			              </span>
			            {% endif %}
			          </div>
			        </div>

			                
			        <div class="form-group row {% if form.phone_number_2.errors %}has-error{% endif %} ">
			          <label for="id_phone_number_2 " class="col-sm-3 control-label ">Phone Number 2:</label>
			          <div class="col-lg-5 ">
			            {{ form.phone_number_2 }}
			            {% if form.phone_number_2.errors %}
			              <span class="help-block ">
			                {% for error in form.phone_number_2.errors %}{{ error }}{% endfor %}
			              </span>
			            {% endif %}
			          </div>
			        </div>



			        <div class="form-group row {% if form.is_pure_veg.errors %}has-error{% endif %} ">
			          <label for="id_is_pure_veg" class="col-sm-3 control-label ">Is Pure Veg:</label>
			          <div class="col-lg-5 ">
			            {{ form.is_pure_veg }}
			            {% if form.is_pure_veg.errors %}
			              <span class="help-block ">
			                {% for error in form.is_pure_veg.errors %}{{ error }}{% endfor %}
			              </span>
			            {% endif %}
			          </div>
			        </div>

			        <div class="form-group row {% if form.is_credits_cards_accepted.errors %}has-error{% endif %} ">
			          <label for="id_is_credits_cards_accepted" class="col-sm-3 control-label ">Is Credits Card Accepted:</label>
			          <div class="col-lg-5 ">
			            {{ form.is_credits_cards_accepted }}
			            {% if form.is_credits_cards_accepted.errors %}
			              <span class="help-block ">
			                {% for error in form.is_credits_cards_accepted.errors %}{{ error }}{% endfor %}
			              </span>
			            {% endif %}
			          </div>
			        </div>

			        <div class="form-group row {% if form.is_buffet_offered.errors %}has-error{% endif %} ">
			          <label for="id_is_buffet_offered" class="col-sm-3 control-label ">Is Buffet Offered:</label>
			          <div class="col-lg-5 ">
			            {{ form.is_buffet_offered }}
			            {% if form.is_buffet_offered.errors %}
			              <span class="help-block ">
			                {% for error in form.is_buffet_offered.errors %}{{ error }}{% endfor %}
			              </span>
			            {% endif %}
			          </div>
			        </div>

			        <div class="form-group row {% if form.is_wifi_offered.errors %}has-error{% endif %} ">
			          <label for="id_is_wifi_offered" class="col-sm-3 control-label ">Is Wifi Offered:</label>
			          <div class="col-lg-5 ">
			            {{ form.is_wifi_offered }}
			            {% if form.is_wifi_offered.errors %}
			              <span class="help-block ">
			                {% for error in form.is_wifi_offered.errors %}{{ error }}{% endfor %}
			              </span>
			            {% endif %}
			          </div>
			        </div>	

			        <div class="form-group row {% if form.is_alcohol_served.errors %}has-error{% endif %} ">
			          <label for="id_is_alcohol_served" class="col-sm-3 control-label ">Is Alcohol Served:</label>
			          <div class="col-lg-5 ">
			            {{ form.is_alcohol_served }}
			            {% if form.is_alcohol_served.errors %}
			              <span class="help-block ">
			                {% for error in form.is_alcohol_served.errors %}{{ error }}{% endfor %}
			              </span>
			            {% endif %}
			          </div>
			        </div>	

			        <div class="form-group row {% if form.has_outdoor_seating.errors %}has-error{% endif %} ">
			          <label for="id_has_outdoor_seating" class="col-sm-3 control-label ">Has Outdoor Seating:</label>
			          <div class="col-lg-5 ">
			            {{ form.has_outdoor_seating }}
			            {% if form.has_outdoor_seating.errors %}
			              <span class="help-block ">
			                {% for error in form.has_outdoor_seating.errors %}{{ error }}{% endfor %}
			              </span>
			            {% endif %}
			          </div>
			        </div>	
			        
			        <div class="form-group row ">
			          <div class="col-sm-5 col-sm-offset-3 ">
			            <input type="submit" value="Add Restaurant" class="btn btn-primary"/>
			          </div>
			        </div>
			      </form>
			    </div>
			</div>
			<div class="col-sm-3 ui segment bgwhite">
	            <h3>How it works</h3>
	            <ul class="ui list">
	                <li>
	                    <p>
	                        If you are the owner of a restaurant, or if you are a user who's discovered a place not listed on DinersQ, let us know using this form. </p>
	                </li>
	                <li>
	                    <p>
	                        Once you send the information to us, our awesome content team will verify it. To help speed up the process, please provide a contact number or email address. </p>
	                </li>
	                <li>
	                    <p>
	                        That's it! Once verified the listing will start appearing on DinersQ </p>
	                </li>
	            </ul>
	        </div>
		</div>
	</div>
  </div>
{% block footer %} 
{% include "footer.html" %}
{% endblock %}
{% endblock %}
