{% extends "base.html" %} {% load staticfiles %} {% block title %} DinersQ Collections {% endblock %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}" /> {% endblock %} {% block javascript %}
<script type="text/javascript" src="{% static 'home/js/click.js' %}"></script>
{% endblock %}  {% block header %} 
{% include "header.html" %}
{% endblock %} {% block content %}
<div class="main_container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="border:none">
                <div class="">
                    <img style="float:left" src="{{ MEDIA_URL }}{{ collection.collection_image }}" class="img-responsive" alt="{{collection.collection_description}}" width="100%" height="100%" />
                </div>
                <h2 class="ui header">
                <span class="segment_heading">Collections</span>
                <span class="sub header">
                <span class="segment_sub_heading">
                 Create and browse lists of the finest restaurants          
                </span>
                </span>    
              </h2>
                <div class="row">
                    {% if restaurant_list %} {% for restaurant in restaurant_list %}
                    
                    <div class="col-sm-4 collection_grid height100 overflowHidden">
                        <div class="" style=" height:240px; ">
                            <div onclick="restaurantClick({{restaurant.id}})">
                                <a class="relative pl10 ptop0" style="background-size: cover; background-image: url({{MEDIA_URL}}{{restaurant.restaurant_image}}); height: 150px; display: block; border-radius: 4px; background-position: center center;">
                                </a>
                            </div>

                            <div class="ptop0 pbot0">

                            <a >
                              <div class="res_title zblack bold " title="TRE">
                                {{restaurant.restaurant_name}}
                              </div>
                            </a>
                                  
                            <a title="Restaurants in Lower Parel">
                              <div class="nowrap grey-text fontsize4">Lower Parel, Mumbai</div>
                            </a>
                                  
                            <div class="nowrap grey-text">
                              Continental, American
                            </div>
                           
                            </div>  
                        </div>
                    </div>
                    
                    {% endfor %} {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
