{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Home {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}" />
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'home/js/click.js' %}"></script>
{% endblock %}


{% block content %}

<div class="row">

<div class="col-3 col-s-3 menu">

{% if collection_list %}

    <div class="collection-flex-container" >
          {% for collection in collection_list %}
          {{ collection.collection_id}}
              <div class="collection-flex-item" onclick="collectionClick({{ collection.id}})"> 
                {{ collection.collection_name }}
              </div>
          {% endfor %}
    </div>

{% endif %}

{% if category_list %}

    <div class="collection-flex-container">
          {% for category in category_list %}
              <div class="collection-flex-item">{{ category.name }}</div>
               {% for restaurant in category.restaurant.all %}
                             <div class="collection-flex-item">{{ restaurant.restaurant_name  }}</div>

               {% endfor %}

          {% endfor %}
    </div>

{% endif %}

</div>


</div>

<div class="footer">
  <p>Resize the browser window to see how the content respond to the resizing.</p>
</div>

{% endblock %}
