{% extends "base.html" %} {% load staticfiles %} {% block title %} Home {% endblock %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'restaurant_list/css/style.css' %}" {% endblock %} {% block javascript %} <script type="text/javascript" src="{% static 'home/js/click.js' %}"></script>
<script type="text/javascript" src="{% static 'restaurant_list/js/click.js' %}"> </script>
{% endblock %} {% block header %} {% include "header.html" %} {% endblock %} {% block content %}
<div class="main_container">
    <div class="container">
        <div class="row pb20">
            <div class="col-sm-8">
                <h2 class="ui header">
                <span class="segment_heading">Search Results</span>
                <span class="sub header">
 <!--                <span class="segment_sub_heading">
                  Explore curated lists of top restaurants, cafes, pubs, and bars in and around Mumbai, based on  trends                               
                </span> -->
                </span>
                </h2>
                <div class="">
                    {% if restaurant_list %} {% for restaurant in restaurant_list %}
                    <div class="col-sm-12 pb20" >
                        <div class="menu-card ">
                         <div onclick="restaurantClick({{restaurant.id}})">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-xs-3 pt10 overflowHidden">
                                        <img style="float:left" src="{{ MEDIA_URL }}{{ restaurant.restaurant_image_thumbnail }}" class="img-responsive height100px" alt="{{restaurant.restaurant_name}}" />
                                    </div>
                                    <div class="col-xs-8   plef10" text-overflow: ellipsis;>
                                        <div class="heading bold ln20 red">{{restaurant.restaurant_name}}</div>
                                        <div class="zblack fontsize4 description mt5  hp ">{{restaurant.locality}},{{restaurant.city}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui divider">
                            </div>
                            <div class="search-page-text clearfix">
                                <div class="clearfix"><span class="col-sm-4  ttupper fontsize5 grey-text">Cuisines: </span>
                                {% if restaurant.cuisine.all %}
                                                <div class="res-info-cuisines clearfix">
                                                    {% for cuisine in restaurant.cuisine.all %}
                                                        <a class="zred" href=" /search/?search_query={{cuisine.cuisine_name}}" title="View all {{cuisine.cuisine_name}} Restaurants in Kochi">{{cuisine.cuisine_name}}</a>
                                                    {% endfor %}
                                                </div>
                                                {% endif%}
                                </div>
                                <div class="res-cost clearfix">
                                    <span class="col-sm-4  ttupper fontsize5 grey-text">Cost for two:</span>
                                    <span class="col-sm-8 col-sm-8 pl0">₹900</span>
                                </div>
                            </div>
                          </div>
                            <div class="ui two item menu search-result-action mt0" ">
                                <a class="item res-snippet-ph-info" data-res-name="{{restaurant.restaurant_name }}" data-phone-no-str="{{restaurant.phone_number_1}}"  data-toggle="modal" data-target="#phoneNumberModal">
                                    <span class="glyphicon glyphicon-earphone"></span>
                                    <span class="zdark fontsize4 bold action_btn_icon">Call</span>
                                </a>
                                <!-- Modal -->
                                <div class="modal fade" id="phoneNumberModal" role="dialog">
                                    <div class="modal-dialog modal-sm">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Restaurant Name</h4>
                                            </div>
                                            <div class="modal-body">
                                                <!-- <p>Phone Number 1</p> -->
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <a class="item result-menu" href="" title="paragon Menu" data-result-type="ResCard_Menu">
                                    <span data-icon="" class="zdark fontsize4 bold action_btn_icon">View Menu</span>
                                </a> -->
                            </div>
                        </div>
                    </div>
                    {% endfor %} {% endif %}
                </div>
            </div>
<!--             <div class="col-sm-4 ">
                <h2 class="ui header">
                  <span class="segment_heading">Order Food Online</span>
                  <span class="sub header">
                    <span class="segment_sub_heading">
                      From the best restaurants delivering to your doorstep                               
                    </span>
                  </span>    
                </h2>
                <div class="well " style="min-height:333px; ">1
                </div>
            </div> -->
        </div>
    </div>
</div>
{% block footer %} {% include "footer.html" %} {% endblock %} {% endblock %}
