{% extends "base.html" %} {% load staticfiles %} {% block title %} DinersQ Collections {% endblock %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'restaurant_detail/css/style.css' %}" /> 
<link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}" />{% endblock %} {% block javascript %}
<script type="text/javascript" src="{% static 'restaurant_detail/js/click.js' %}"></script>
{% endblock %} {% block header %} {% include "header.html" %} {% endblock %} {% block content %}
<div class="main_container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="border:none">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="">
                            <img style="float:left" src="{{ MEDIA_URL }}{{ restaurant.restaurant_image }}" class="img-responsive" alt="{{restaurant.restaurant_name }}" width="100%" height="100%" />
                        </div>
                        <h2 class="ui header">
                        <span class="segment_heading">{{restaurant.restaurant_name}}   </span>
                        <span class="sub header">
                        <span class="segment_sub_heading">
                         {{restaurant.locality}}             
                        </span>
                        </span>    
                        </h2>
     
                        <div class="row">
                                <div class="row ui segment">
                                    <div class="col-sm-4 pl0 pr20">
                                        <div class="mbot">
                                            <div class="res-main-phone p-relative phone-details clearfix" id="resinfo-phone" title="{{restaurant.restaurant_name}}">
                                                <div class="phone" id="phoneNoString">
                                                    <h2 aria-label="Phone number" class="mb5" role="heading" tabindex="0">Phone number</h2>
                                                    <span class="tel left res-tel">
                                                    <span class="fontsize2 bold zgreen">
                                                    <span aria-label="{{restaurant.phone_number_1}}" class="tel" tabindex="0">{{restaurant.phone_number_1}}
                                                    </span>
                                                    </span>
                                                    <br>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mbot">
                                            <div class="res-info-group clearfix">
                                                <h2 class="mt0 mb5" tabindex="0">Cuisines</h2>
                                                <div class="res-info-cuisines clearfix">
                                                    <a class="zred" href="https://www.zomato.com/kochi/restaurants/biryani" title="View all Biryani Restaurants in Kochi">Biryani</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mbot mtop">
                                            <div class="res-info-group clearfix">
                                                <div class="res-info-detail">
                                                    <div tabindex="0">
                                                        <h2 class="left mt0 mb5">Cost&nbsp;</h2>
                                                        <div aria-label="The cost" class="tooltip-w left" tabindex="0">
                                                            <span class="res-info-detail-icon" data-icon="|"></span>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>
                                                    <div class="ttupper fontsize5 grey-text">
                                                        <span aria-label="Average ₹500 for two people (approx.)" tabindex="0">Average</span>
                                                    </div>
                                                    <span aria-label="Average ₹500 for two people (approx.)" tabindex="0">₹500 for two people (approx.)</span>
                                                    <div class="mt5">
                                                        <div class="res-info-cft-text fontsize5 grey-text" tabindex="0">
                                                            <span class="res-info-payment res-info-icon"></span> <span itemprop="paymentAccepted">Cash only</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4  pl20 pr20">
                                        <div class="mbot">
                                            <div class="res-info-group clearfix">
                                                <div class="res-info-detail">
                                                    <div class="res-info-timings">
                                                        <div class="clearfix" tabindex="0">
                                                            <h2 class="mt0 mb5 inlineblock">Opening hours</h2>
                                                            {% with restaurant.restaurant_timing.all as restaurant_timings %} 
                                                            {% for restaurant_timing in restaurant_timings %}
                                                                {% now "l" as today %}
                                                                {% with restaurant_timing.working_days as working_day %}
                                                                    {% if working_day|slugify  == today|slugify  %}
                                                                        <span class="fontsinze5 zgreen">Open today</span>
                                                                        <div class="medium">
                                                                            Today&nbsp;&nbsp;{{restaurant_timing.start_time}} to {{restaurant_timing.end_time}}
                                                                        </div>
                                                                        <!-- {% now "U" as current_time %}
                                                                        {{ restaurant_timing.start_time|time:"H" }}
                                                                        {{the_time}}
                                                                        {% if restaurant_timing.start_time < current_time %}
                                                                        {% endif %} --> 
                                                                    {% else %}
                                                                        <span class="fontsinze5 zgreen">Closed</span>
                                                                        
                                                                    {% endif %} 
                                                                {% endwith %}
                                                            {% endfor %} {% endwith %}
                                                            
                                                            <div>
                                                                <!-- <div class="left zred expand cursor-pointer user-select-none fontsize5">
                                                                    See more
                                                                </div> -->

                                                                <div id="openingTimesPopoverContent">
                                                                   <table border="1" style="width:100%">
                                                                       {% with restaurant.restaurant_timing.all as restaurant_timings %} {% for restaurant_timing in restaurant_timings %}
                                                                          <tr>
                                                                            <td>{{ restaurant_timing.working_days}}</td>
                                                                            <td>{{ restaurant_timing.start_time }} to </td>      
                                                                            <td>{{ restaurant_timing.end_time }}</td>
                                                                          </tr>
                                                                        {% endfor %} {% endwith %}
                                                                    </table>
                                                                </div>
                                                                <a  data-toggle="popover" data-placement="bottom" id="see-more"><span class="badge"></span>See more</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb5">
                                            <h2 aria-label="Address" tabindex="0">Address</h2>
                                        </div>
                                        <div class="mbot0">
                                            <div class="borderless res-main-address">
                                                <div class="resinfo-icon">
                                                    <span>Between <span>Chittoor Road</span> and KSRTC Bus Stand, CP Ummer Road, MG, Chittoor Road, Kochi</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mbot0">
                                            <div class="resbox__main--row">
                                                <div class="resmap pos-relative mt5 mb5">
                                                    <a class="res-map-link" href="https://www.zomato.com/kochi/pandaris-biriyani-chittor-road/maps#tabtop">Pandari's Biriyani address, Pandari's Biriyani location</a>
                                                    <div id="res-map-canvas">
                                                        <div class="resmap-text-container">
                                                            Get Directions
                                                        </div>
                                                        <div class="resmap-img" data-is-zomato="true" data-url="https://www.zomato.com/php/staticmap?center=9.9803952000,76.2876959000&amp;size=240x150&amp;maptype=zomato\&amp;markers=9.9803952000,76.2876959000,pin_res32|&amp;sensor=false&amp;scale=2&amp;zoom=14&amp;language=en" style="background: url(&quot;https://www.zomato.com/php/staticmap?center=9.9803952000,76.2876959000&amp;size=240x150&amp;maptype=zomato&amp;markers=9.9803952000,76.2876959000,pin_res32|&amp;sensor=false&amp;scale=2&amp;zoom=14&amp;language=en&quot;) center center / cover no-repeat rgb(244, 244, 244); width: 100%; height: 100%;"></div>
                                                    </div>
                                                    <script type="text/javascript">
                                                    var mapData = {
                                                        lat: 9.9803952000,
                                                        lon: 76.2876959000
                                                    };
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 pl20 pr20">
                                        <div class="res-header-claims mbot0 ptop0">
                                            <div class="hom">
                                                <a class="fontsize5 tooltip_formatted cursor-pointer grey-text" id="resinfo-error" tabindex="0">Report Error</a>
                                            </div><a class="tooltip_formatted grey-text claim-your-listing cursor-pointer fontsize5" data-res-id="95358" data-res_name="Pandari's Biriyani" rel="nofollow" tabindex="0">Claim this listing</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-12 " onclick="viewAllCollectionsClick()">
                            <div class="ui segment red tac">All collections in Mumbai
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block footer %} 
{% include "footer.html" %}
{% endblock %}
{% endblock %}
