{% extends "base.html" %} {% load staticfiles %} {% block title %} DinersQ Collections {% endblock %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'restaurant_detail/css/style.css' %}" /> 
<link rel="stylesheet" type="text/css" href="{% static 'base/css/jquery.fancybox.css' %}" /> 
<link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}" />{% endblock %} {% block javascript %}
<script type="text/javascript" src="{% static 'restaurant_detail/js/click.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/jquery.fancybox.min.js' %}"></script>
{% endblock %} {% block header %} {% include "header.html" %} {% endblock %} {% block content %}
<div class="main_container">
    <div class="container">
        <div >
                <div class="row  ">
                        <div class="row ui segment">
                            <div class="">
                                <img class="height300" src="{{ MEDIA_URL }}{{ restaurant.restaurant_image }}" class="img-responsive" alt="{{restaurant.restaurant_name }}" width="100%" height="100%" />
                            </div>
                            <h2 class="ui header">
                            <span class="segment_heading">{{restaurant.restaurant_name}}   </span>
                            <span class="sub header">
                            <span class="segment_sub_heading">
                             {{restaurant.locality}}             
                            </span>
                            </span>    
                            </h2>
                        </div>
     
                        <div class="row ui segment">
                                    <div class="col-sm-4 pl0 pr20">
                                        <div class="mbot">
                                            <div class="res-main-phone p-relative phone-details clearfix" id="resinfo-phone" title="{{restaurant.restaurant_name}}">
                                                <div class="phone" id="phoneNoString">
                                                    <h4 aria-label="Phone number" class="mb5" role="heading" tabindex="0">Phone number</h4>
                                                    <span class="tel left res-tel">
                                                    <span class="fontsize2 bold zgreen">
                                                    <span aria-label="{{restaurant.phone_number_1}}" class="tel" tabindex="0">{{restaurant.phone_number_1}}
                                                    </span>
                                                    </span>
                                                    <br>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mbot">
                                            <div class="res-info-group clearfix">
                                                <h4 class="mt0 mb5" tabindex="0">Cuisines</h4>
                                                {% if restaurant.cuisine.all %}
                                                <div class="res-info-cuisines clearfix">
                                                    {% for cuisine in restaurant.cuisine.all %}
                                                        <a class="zred" href=" /search/?search_query={{cuisine.cuisine_name}}" title="View all {{cuisine.cuisine_name}} Restaurants in Kochi">{{cuisine.cuisine_name}}</a>
                                                    {% endfor %}
                                                </div>
                                                {% endif%}

                                            </div>
                                        </div>
                                        <div class="mbot mtop">
                                            <div class="res-info-group clearfix">
                                                <div class="res-info-detail">
                                                    <div tabindex="0">
                                                        <h4 class="left mt0 mb5">Cost&nbsp;</h4>
                                                        <div aria-label="The cost" class="tooltip-w left" tabindex="0">
                                                            <span class="res-info-detail-icon" data-icon="|"></span>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>
                                                    <div class="ttupper fontsize5 grey-text">
                                                        <span aria-label="Average ₹500 for two people (approx.)" tabindex="0">Average</span>
                                                    </div>
                                                    <span aria-label="Average ₹500 for two people (approx.)" tabindex="0">₹500 for two people (approx.)</span>
                                                    <div class="mt5">
                                                        <div class="res-info-cft-text fontsize5 grey-text" tabindex="0">
                                                            <span class="res-info-payment res-info-icon"></span> <span itemprop="paymentAccepted">Cash only</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4  pl20 pr20">
                                        <div class="mbot">
                                            <div class="res-info-group clearfix">
                                                <div class="res-info-detail">
                                                    <div class="res-info-timings">
                                                        <div class="clearfix" >
                                                            <h4 class="mt0 mb5 inlineblock">Opening hours</h4>
                                                            {% if isOpened %}
                                                              <span class="fontsinze5 zgreen">Open today</span>
                                                                 <div class="medium">
                                                                     {{ open_time }}
                                                                 </div>
                                                             {% else %}
                                                             <span class="fontsinze5 zgreen">Closed</span>  

                                                             {% endif %} 
                                                            <div>
                                                                <div id="openingTimesPopoverContent">
                                                                   <table border="1" style="width:100%">
                                                                       {% with restaurant.restaurant_timing.all as restaurant_timings %} {% for restaurant_timing in restaurant_timings %}
                                                                          <tr>
                                                                            <td>{{ restaurant_timing.working_days}}</td>
                                                                            <td>{{ restaurant_timing.start_time }} to </td>      
                                                                            <td>{{ restaurant_timing.end_time }}</td>
                                                                          </tr>
                                                                        {% endfor %} {% endwith %}
                                                                    </table>
                                                                </div>
                                                                <a tabindex="0" data-trigger="focus"  data-container="body" data-toggle="popover" data-placement="bottom" id="see-more"><span class="badge"></span>See all timings</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb5">
                                            <h4 aria-label="Address" tabindex="0">Address</h4>
                                        </div>
                                        <div class="mbot0">
                                            <div class="borderless res-main-address">
                                                <div class="resinfo-icon">
                                                    <span>{{restaurant.address_1}} <span>{{restaurant.address_2}} </span> {{restaurant.locality}} <span>{{restaurant.city}} </span>  <span>{{restaurant.state}} </span> </span>
                                                </div>
                                            </div>
                                        </div>
       
                                    </div>
                        </div>

                    <div class="row ui segment">            
                        <div class="col-sm-12 " style="min-height:333px;">
                            {% if restaurant.menu_image.all %} {% for menu in restaurant.menu_image.all %}
                            <div class="col-sm-3 height100">
                                <a href="{{MEDIA_URL}}{{menu.menu_image}}" data-fancybox="group" data-caption="Caption #1">
                                    <img src="{{ MEDIA_URL }}{{menu.menu_image}}" class="img-responsive height100" alt="" width="100%" height="100%" />
                                </a>
                            </div>
                            {% endfor %} {% endif %}
                        </div>
                    </div>

                    </div>

        </div>
    </div>
</div>
{% block footer %} 
{% include "footer.html" %}
{% endblock %}
{% endblock %}
