{% extends "base.html" %} {% load i18n %} {% block title %}{{ title }}{% endblock %} {% block content_title %}
<h1>{{ title }}</h1>{% endblock %} {% block css %}
<style>
body {
    background-image: url({{MEDIA_URL}}images/login/login_bg.jpg);
}
</style>
{% endblock %} {% block content %} {% if validlink %}
<div class="container" style="width:40%; margin-top:100px;">
    <div class="row">
        <div style="background:#ff0000; height:45px;">
            <h3 style="color: white; background: #ff0000;text-align:center; padding:10px;">LOGIN</h3>
        </div>
        <div style="height:350px;background:white;">
            <p style="padding:32px; margin-left: 20px;">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</P>
            <form action="" method="post">{% csrf_token %} {% csrf_token %}
                <div class="form-group" style="    margin-left: 64px;">
                    <div class="row">
                        <label for="usr" style="font-weight:normal;">{% trans 'NEW PASSWORD:' %}</label>
                    </div>
                    <div class="id_new_password1">
                        {{ form.new_password1 }}
                    </div>
                    {{ form.new_password1.errors }}
                    <div class="row">
                        <label for="usr" style="font-weight:normal; padding-top: 10px;">{% trans 'CONFIRM PASSWORD:' %}</label>
                    </div>
                    <div class="id_new_password2">
                        {{ form.new_password2 }}
                    </div>
                    {{ form.new_password2.errors }}
                </div>
                <button type="submit" class="btn btn-danger" style="font-weight:bold; margin-left:38%; width:40%; background:#ff0000; border-radius:2px;">CHANGE MY PASSWORD</button>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="container" style="width:40%; margin-top:100px;">
    <div class="row">
        <div style="background:#ff0000; height:45px;">
            <h3 style="color: white; background: #ff0000;text-align:center; padding:10px;">Access Denied !!!!</h3>
        </div>
        <div style="height:250px;background:white;">
            <p style="padding:32px;margin-left: 20px; margin-right: 20px;">Link already used.</P>
            <div class="form-group" style="    margin-left: 50px;">
                <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
                Click here to <a href="/authentication/login">Login</a>
            </div>
        </div>
    </div>
</div>
{% endif %} {% endblock %}
