{% extends "base.html" %} {% load i18n %} {% block title %}{{ title }}{% endblock %} {% block content_title %}
<h1>{{ title }}</h1>{% endblock %} {% block css %}
<style>
body {
    background-image: url('http://10.3.1.12:8000/media/images/login/login_bg.jpg');
}
</style>
{% endblock %} {% block content %}
<div class="container" style="width:40%; margin-top:100px;">
    <div class="row">
        <div style="background:#ff0000; height:45px;">
            <h3 style="color: white; background: #ff0000;text-align:center; padding:10px;">Success !!!!</h3>
        </div>
        <div style="height:250px;background:white;">
            <p style="padding:32px;margin-left: 20px; margin-right: 20px;">Email Sent Successfully.</P>
            <div class="form-group" style="    margin-left: 50px;">
                <p>{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}</p>
                <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
                Click here to <a href="/authentication/login">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
