{% extends "base.html" %} {% load i18n %} {% block css %}
<style>
body {
    background-image: url({{MEDIA_URL}}images/login/login_bg.jpg);
}
</style>
{% endblock %} {% block title %}{{ title }}{% endblock %} {% block content_title %}
<h1>{{ title }}</h1>{% endblock %} {% block content %}
<div class="container" style="width:40%; margin-top:100px;">
    <div class="row">
        <div style="background:#ff0000; height:45px;">
            <h3 style="color: white; background: #ff0000;text-align:center; padding:10px;">FORGOT YOUR PASSWORD</h3>
        </div>
        <div style="height:350px;background:white;">
            <p style="padding:32px;margin-left: 20px; margin-right: 20px;">Don't worry! Just fill in your email and we'll help you rest your password.</P>
            <form action="" method="post">{% csrf_token %} {{ form.email.errors }}
                <div class="form-group" style="    margin-left: 70px;">
                    <div class="row">
                        <label for="id_email" style="font-weight:normal;">EMAIL ADDRESS</label>
                    </div>
                    <div class="row">
                        {{ form.email }}
                    </div>
                </div>
                <button type="submit" class="btn btn-danger" style="margin-left:65%; font-weight:bold; background:#ff0000; border-radius:2px;">RESET PASSWORD</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
