{% extends 'base.html' %} {% block css %}
<style>
body {
    background-image: url({{MEDIA_URL}}images/login/login_bg.jpg);
}
</style>
{% endblock %} {% block content %}
<div class="container" style="width:40%; margin-top:100px;">
    <div class="row">
        <div style="background:#ff0000; height:45px;">
            <h3 style="color: white; background: #ff0000;text-align:center; padding:10px;">LOGIN</h3>
        </div>
        <div style="height:350px;background:white;">
            <p style="padding:32px; margin-left: 20px;">Please enter your credentials .</P>
            {% if form.errors %}
            <p style="margin-left: 50px;color: #FF0000"">Your username and password didn't match. Please try again.</p>
            {% endif %} {% if next %} {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %} {% endif %}
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group" style="    margin-left: 64px;">
                    <div class="row">
                        <label for="usr" style="font-weight:normal;">EMAIL ADDRESS</label>
                    </div>
                    <div class="row">
                        {{ form.username}}
                    </div>
                    <div class="row">
                        <label for="usr" style="font-weight:normal; padding-top: 10px;">PASSWORD</label>
                    </div>
                    <div class="row">
                        {{ form.password}}
                    </div>
                </div>
                <button type="submit" class="btn btn-danger" style="font-weight:bold; margin-left:38%; width:20%; background:#ff0000; border-radius:2px;">LOGIN</button>
            </form>
            <div style="text-align:center; padding:10px;">
                <p style="display: inline-block; padding-right:23px;">
                    <a style="color:gray;" href="/authentication/password_reset/">Forgot password?</a>
                </p>
                <p style="display: inline-block;">
                    <a style="color:gray;" href="/authentication/register/">New User? Sign</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
