<style>
* 
{
    box-sizing: border-box;
}

h1.ui.header .sub.header, h2.ui.header .sub.header {
    font-size: 1.14285714rem;
}

.ui.header .sub.header, .ui.small.header .sub.header {
    font-size: 1rem;
}

.ui.header .sub.header {
    display: block;
    font-weight: 400;
    padding: 0;
    margin: 2px 0 0;
    line-height: 1.2em;
    color: #89959B;
}

.ui.segment {
    position: relative;
    background: #FFF;
    box-shadow: none;
    margin: 1rem 0;
    padding: 1em;
    border-radius: .28571429rem;
    border: 1px solid #e7e7e7;
}

.red {
    color: #cb202d;
}

.white {
    color: #ffffff;
}
.bgwhite {
    background-color: #ffffff;
}

.ta-center, .tac {
    text-align: center;
}

.container, .main_container {
    background-color: #F3F3F3;
}

.collection_grid {
    max-height: 80px;
    border-radius: 5px;
    padding: 10px;
}

.footer {
    margin:  25;
    border-radius:  10;
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
</style>